{% extends 'mailing/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Логи рассылок
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>Последняя попытка</th>
                                <th>Статус</th>
                                <th>Ответ</th>
                                <th></th>
                            </tr>
                            {% for object in object_list %}
                                <tr>
                                    <td>{{ object.last_try }}</td>
                                    <td>{{ object.status }}</td>
                                    <td>{{ object.response }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}