{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mt-5">
            <div class="card mb-3" style="width 18rem;">
                <div class="card-header text-center">
                    <div class="card-title">
                        {{ message.title }}
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text text-start">
                        {{ message.body }}
                </div>
                <div class="card-footer text-center">
                    Время рассылки {{ object.distribution_settings }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}